<div style="display: block;">
	<div style="text-align: right; margin-bottom: 20px;">
		<% if !@current_user %>
			<%= button_to "login", login_path%>	
		<% else %>
			<div style="display: flex; justify-content: space-between;">
				<%= button_to "+ Add", new_article_path, method: :get %>
				<%= button_to "Logout", logout_path, method: :delete, confirm: "Are you sure you want to logout?" %>
			</div>
    <% end %>	
	</div>

	<div class="general-div">
		<h1>Personal Blog</h1>

		<% @articles.each do |article| %>
		<div style="display: flex; justify-content: space-between;">
			<h3><%= link_to article.title, article%><h4 style="color: gray;"><%= article.created_at.to_formatted_s(:short) %></h4></h3> 
		</div>
		<% end %>
	</div>
</div>
